/* Add here all your css styles (customizations) */

.one-page-header {
    border-bottom: none;
    background: rgba(0,0,0,0.8);
}

.logo{
    max-height: 32px;
}

.events{
    font-family: 'Alef', sans-serif;
    font-weight: 800;
    font-size: 72px !important;
}

.nav-map:hover{
    color: #3c763d;
}

.intro-section{
    background-color: #ffffff;
    padding-top: 40px;
}

.about-section{
    padding-top: 0px;
}

h2.title-heb{
    font-family: 'Alef', sans-serif;
    font-weight: 700;
    font-size: xx-large;
}

h1.title-heb{
    font-family: 'Alef', sans-serif;
    font-weight: 700;
    font-size: xx-large;
    color: #3b5998;
}

p.p-heb{
    font-family: 'FrankRuehl', serif;
    font-weight: 400;
    font-size: x-large;
}

.blur {
    box-shadow: 0 0 8px 8px white inset;
}

.pad-15{
    padding: 15px;
}


.btn-map{
    width:80%;
    float: none !important;
}

.btn-center{
    margin-top: 12px;
}

.btn-map-first{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (max-width: 500px) {
    .btn-map {
        width: 100%;
    }
}

.report-section{
    text-align: -webkit-right;
}