<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- Cloned by RabinsXP.com-->
<head>
    <title>CancerWatch Isreal</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <base href="/">
    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Alef:400,700|Frank+Ruhl+Libre&subset=hebrew'>
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="./assets/plugins/bootstrap/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="./assets/css/css-rtl/one.style-rtl.css">

    <!-- CSS Footer -->
    <link rel="stylesheet" href="./assets/css/css-rtl/footers/footer-v7-rtl.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="./assets/plugins/animate.css">
    <link rel="stylesheet" href="./assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="./assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/plugins/pace/pace-flash.css">
    <link rel="stylesheet" href="./assets/plugins/owl-carousel2/assets/owl.carousel.css">
    <link rel="stylesheet" href="./assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="./assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">
    <link rel="stylesheet" href="./assets/plugins/revolution-slider/rs-plugin/css/settings.css" type="text/css" media="screen">
    <link rel="stylesheet" href="./assets/plugins/login-signup-modal-window/css/style-rtl.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="./assets/plugins/revolution-slider/rs-plugin/css/settings-ie8.css" type="text/css" media="screen"><![endif]-->

    <!-- Scroll Reveal -->
    <script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>
    <script>
        window.sr = ScrollReveal();

        // Add class to <html> if ScrollReveal is supported
        if (sr.isSupported()) {
            document.documentElement.classList.add('sr');
        }

    </script>

    <!-- Style Switcher -->
    <link rel="stylesheet" href="./assets/css/plugins/style-switcher.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="./assets/css/theme-colors/default.css" id="style_color">
    <link rel="stylesheet" href="./assets/css/theme-skins/one.dark.css">

    <!-- RTL Customization -->
    <link rel="stylesheet" href="./assets/css/css-rtl/rtl.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="./assets/css/css-rtl/custom-rtl.css">
</head>

<!--
The #page-top ID is part of the scrolling feature.
The data-spy and data-target are part of the built-in Bootstrap scrollspy function.
-->
<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery">

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1229602867058448";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <!--=== Header ===-->
    <nav class="one-page-header one-page-header-style-2 navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="menu-container page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#intro">
                    <!--<span>U</span>nify -->
                    <img class="logo" src="./assets/img/cw-logo.png" alt="Logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <div class="menu-container">
                    <ul class="nav navbar-nav">
                        <li class="page-scroll">
                            <a href="#about">מי אנחנו?</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#problem">מהי הבעיה?</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#first-step">הצעד הראשון</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#news">דו"ח מצב</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#contact">צור קשר</a>
                        </li>
                        <li>
                            <a href="platform" class="navbar-nav pull-right"><i class="fa fa-map-marker" aria-hidden="true"></i> מפת דיווחים</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!--=== End Header ===-->

    <!-- Intro Section -->
    <section id="intro" class="intro-section">

        <div class="container content-lg">

            <div class="row">
                <div class="col-md-6">

                    <div class="title-v1">
                        <h2 class="title-heb">מיזם חברתי א-פוליטי וא-מפלגתי עבור תושבי חיפה והסביבה</h2>
                        <p class="p-heb">אנו מבצעים פעולות חברתיות עבור סילוק מפעלים מזהמים ממפרץ חיפה מעתה ועד עולה</p>
                        <a href="platform" class="btn btn-success btn-lg pull-right btn-map" role="button"><i class="fa fa-map-marker" aria-hidden="true"></i> מפת דיווחים</a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div align="center" class="embed-responsive embed-responsive-16by9">
                        <video controls class="embed-responsive-item">
                            <source src="./assets/videos/video.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>

        <div class="parallax-quote parallaxBg">
            <div class="container">
                <div class="parallax-quote-in">
                    <p>Scientia potentia est - ידע הוא כוח</p>
                    <small>- פרנסיס בייקון (1597) -</small>
                </div>
            </div>
        </div>


    </section>
    <!-- End Intro Section -->

    <!--  About Section -->
    <section id="about" class="about-section section-first">

        <div class="about-image bg-grey">
            <div class="container">
                <div class="title-v1">
                    <h1 class="title-heb">מי אנחנו?</h1>
                    <p class="p-heb">קבוצה של מהנדסים, תכנתים, מעצבים גרפיים, רואי חשבון, עורכי דין, עורכי תוכן ומפרסמים תושבי חיפה והסביבה או בעלי זיקה לאיזור. ללא שייכות פוליטית וללא רצון כזה (טוב לנו בעבודות היום שלנו) - בקיצור, אנשים, כמוך.</p>
                </div>
                <div class="img-center thumbnail text-center">
                    <img class="img-responsive" src="./assets/img/crowd.png" alt="">
                    <h2 class="title-heb center-img caption page-scroll">אנחנו מאמינים שיחדיו נוכל לסלק את המפעלים המזהמים ממפרץ חיפה <a href="#first-step" class="title-plan">ויש לנו תוכנית</a></h2>
                </div>
            </div>
        </div>
    </section>
    <!--  About Section -->

    <section id="problem">

        <div class="container content-lg">
            <div class="title-v1">
                <h1 class="title-heb">מה הבעיה?</h1>
                <p class="p-heb">
כולנו יודעים שמספר מקרי התחלואה כתוצאה מזיהום אוויר בנפת חיפה הוא הגבוה ביותר בארץ, אולם מידע מדוייק, פשוט וברור לגבי גודל התופעה עדיין אינו נגיש לציבור. לאחר עשרות שנים שבהם פועלים מפעלים מזהמים במרכזו של המטרופולין השלישי בגודלו בארץ כבר ברור שמתקיימת מערכה ברורה של הסתרה והטעיית הציבור. משרדי הממשלה ישמחו אם סימני השאלה ישארו והמספרים לא יתגלו
                </p>
            </div>
        </div>


        <div class="parallax-counter parallaxBg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <div class="counters">
                            <span class="events">?</span>
                            <h4>אסטמה</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="counters">
                            <span class="events">?</span>
                            <h4>סרטן בלוטות הלימפה</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="counters">
                            <span class="events">?</span>
                            <h4>סרטן ריאות</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="counters">
                            <span class="events">?</span>
                            <h4>שכונות בסיכון גבוה</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <!-- First Step Section -->
    <section id="first-step" class="bg-grey">
        <div class="container content-lg">

            <div class="row">

                <div class="col-md-6">

                    <div class="img-center">
                        <img class="img-responsive blur" src="./assets/img/social.jpg" alt="">
                    </div>
                    <div class="btn-center">
                        <a href="platform" class="btn btn-success btn-lg pull-right btn-map btn-map-first" role="button"><i class="fa fa-map-marker" aria-hidden="true"></i> מפת דיווחים</a>
                    </div>
                </div>

                <div class="col-md-6">

                    <div class="title-v1">
                        <h2 class="title-heb">הצעד הראשון</h2>
                        <p class="p-heb">איסוף מידע אמיתי ואמין על היקף הבעיה ממקור המידע האמין ביותר שברשותינו כיום, אנחנו</p>

                        <div class="row pad15 report-section" data-pg-collapsed>
                            <div class="col-xs-2">
                                <span class="fa fa-4x fa-heart"></span>
                            </div>
                            <div class="col-xs-10">
                                <h3 class="test">דיווחי תחלואה</h3>
                                <p>בעזרת שימוש במפת הדיווחים ניתן לדווח על כל אירוע תחלואה, החל מאסטמה ועד לאירועים טרגיים של סרטן, האירועים יכולים להיות מהעבר או אירועים נוכחיים. ניתן כמובן לדווח באופן אנונימי וכל המידע מאובטח. אירוע התחלואה ישמר ללא שם במפה ויאפשר לנו לדעת על
                                    ריכוזי תחלואה, ועל הקף הבעיה.</p>
                            </div>
                        </div>

                        <div class="row pad15 report-section" data-pg-collapsed>
                            <div class="col-xs-2">
                                <span class="fa fa-4x fa-database"></span>
                            </div>
                            <div class="col-xs-10">
                                <h3 class="test">דיווחים על אירועי זיהום בזמן אמת.</h3>
                                <p>ניתן לדווח על אירועי זיהום אוויר חריגים כגון ריח כימי רע, לפידים בוערים, עשן קיצוני ועוד, האירועים נשמרים ומתועדים ובעיקר לא מטויחים.&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Services Section -->

    <!-- News Section -->
    <section id="news" class="news-section">
        <div class="container content-lg">


            <div class="title-v1">
                <h2>דו"ח מצב</h2>
                <p>מערכת הדיווחים עובדת כרגע בגירסת בטא ובנוסף אנחנו עושים מאמצים אדירים כדי שכמה שיותר אנשים יוכלו להשתתף במיזם.</p>
                <p>ניתן להשתתף אופן הבא:</p>
            </div>

            <div class="row">
                <div class="col-md-6 content-boxes-v3 margin-bottom-40">
                    <div class="clearfix margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-map"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">שימוש במערכת</h2>
                            <p>הכי פשוט, על ידי שימוש במערכת אנחנו למעשה משתפים את הידע שלנו, ואנחנו כבר יודעים ש"ידע זה כח", השימוש הוא פשוט, קל ואינטואיטיבי.
                            <a href="platform" class="title-plan">למערכת הדיווחים</a>
                            </p>

                        </div>
                    </div>
                    <div class="clearfix margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-like"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">שיתופים ברשתות חברתיות</h2>
                            <p>כן, אנחנו יודעים, זה כבר די מאוס, הנקודה היא שזה גם די אפקטיבי, היום בשביל לפנות לקהל גדול צריך הרבה כסף (אין לנו) או מטרה נכונה ומסר חזק. האמת שזה גם לא כל כך קשה פשוט לחיצה קטנה על:
                                <div class="fb-like pull-right" data-href="https://www.facebook.com/cancerwatchisrael/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                            </p>
                        </div>
                    </div>
                    <div class="clearfix margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-cup"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">אהבתם, תזמינו אותנו לכוס קפה</h2>
                            <p> הקמת ותחזוק אתר עולים לא מעט כסף, פיתחנו את גירסת הבטא לחלוטין מכיסינו אבל כדי לקחת את את זה "לשלב הבא" נצטרך את עזרתכם, כרגע אנחנו מגייסים כסף דרך פרויקט
                                <a href="#" class="title-plan">בהד-סטארט</a>
                                 נשמח לעזרתכם
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <img class="img-responsive" src="./assets/img/donate.png" alt="">
                    <div class="btn-center">
                        <a href="platform" class="btn btn-danger btn-lg pull-right btn-map btn-map-first" role="button"><i class="fa fa-coffee" aria-hidden="true"></i> הזמינו את המתכנתים שלנו לכוס קפה</a>

                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="KPR8VK8UVGAYG">
                            <table>
                                <tr><td><input type="hidden" name="on0" value="הזמן אותנו ל:">הזמן אותנו ל:</td></tr><tr><td><select name="os0">
                                <option value="הפוך גדול">הפוך גדול ₪25.00 ILS</option>
                                <option value="קפה ומאפה">קפה ומאפה ₪50.00 ILS</option>
                                <option value="ארוחת בוקר">ארוחת בוקר ₪100.00 ILS</option>
                            </select> </td></tr>
                            </table>
                            <input type="hidden" name="currency_code" value="ILS">
                            <input type="image" src="https://www.paypalobjects.com/en_US/IL/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="parallax-twitter parallaxBg">
            <div class="container parallax-twitter-in">
                <div class="margin-bottom-30">
                    <a href="https://www.facebook.com/cancerwatchisrael/"><i class="icon-custom rounded-x icon-bg-blue fa fa-facebook"></i></a>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <ul class="list-unstyled owl-twitter-v1">
                            <li class="item">
                                <p>"מחקר ישראלי שבחן את הקשר בין זיהום האוויר באזור לבין מספר מקרי הסרטן"<p>
                                <span><a href="http://www.ynet.co.il/articles/0,7340,L-4824269,00.html">מפת סרטן סטטית בחיפה והקריות</a></span>
                            </li>
                            <li class="item">
                                <p>"הסכמה במשרד הבריאות - אין קשר בין זיהום אוויר לתחלואת סרטן"</p>
                                <span><a href="http://www.ynet.co.il/articles/0,7340,L-4824269,00.html">פרסום בYnet</a></span>
                            </li>
                            <li class="item">
                                <p></p>
                                <span><a href="http://www.ynet.co.il/articles/0,7340,L-4898695,00.html">מפת הפצצות המתקתקות במפרץ חיפה</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End News Section -->

    <!-- Contact Section -->
    <section id="contact" class="contacts-section">
        <div class="container content-lg">
            <div class="title-v1">
                <h2>יצירת קשר</h2>
                <p>מוזמנים לפנות אלינו בכל שאלה או הצעה דרך טופס הפניות באתר</p>
            </div>

            <div class="row contacts-in">

                <!-- Contact email -->
                <div class="col-md-6">
                    <form id="form_sendemail" class="contact__form sky-form contact-style">
                        <fieldset>
                            <label>שם</label>
                            <div class="row">
                                <div class="col-md-7 margin-bottom-20 col-md-offset-0">
                                    <div>
                                        <input type="text" name="name" id="name" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <label>אי-מייל <span class="color-red">*</span></label>
                            <div class="row">
                                <div class="col-md-7 margin-bottom-20 col-md-offset-0">
                                    <div>
                                        <input type="text" name="email" id="email" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <label>תוכן ההודעה</label>
                            <div class="row">
                                <div class="col-md-11 margin-bottom-20 col-md-offset-0">
                                    <div>
                                        <textarea rows="8" name="message" id="message" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>

                            <p><button type="submit" class="btn-u btn-brd btn-brd-hover btn-u-dark">שלח</button></p>
                        </fieldset>

                        <div class="message">
                            <i class="rounded-x fa fa-check"></i>
                            <p>הודעתך נשלחה בהצלחה!</p>
                        </div>
                    </form>
                </div>


                <div class="col-md-6">
                    <img class="img-responsive" src="./assets/img/platform.png" alt="">
                    <div class="btn-center">
                        <a href="platform" class="btn btn-success btn-lg pull-right btn-map btn-map-first" role="button"><i class="fa fa-map-marker" aria-hidden="true"></i> מפת דיווחים</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright-section">
            <p><a target="_blank" href="">cancerwatch.org.il</a></p>
            <ul class="social-icons">
                <li><a href="#" data-original-title="Facebook" class="social_facebook rounded-x"></a></li>
            </ul>
            <span class="page-scroll"><a href="#intro"><i class="fa fa-angle-double-up back-to-top"></i></a></span>
        </div>
    </section>
    <!-- End Contact Section -->

    <!-- JS Global Compulsory -->
    <script src="./assets/plugins/jquery/jquery.min.js"></script>
    <script src="./assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script src="./assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script src="./assets/plugins/smoothScroll.js"></script>
    <script src="./assets/plugins/jquery.easing.min.js"></script>
    <script src="./assets/plugins/pace/pace.min.js"></script>
    <script src="./assets/plugins/jquery.parallax.js"></script>
    <script src="./assets/plugins/counter/waypoints.min.js"></script>
    <script src="./assets/plugins/counter/jquery.counterup.min.js"></script>
    <script src="./assets/plugins/owl-carousel2/owl.carousel.min.js"></script>
    <script src="./assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
    <script src="./assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="./assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="./assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="./assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script src="./assets/plugins/modernizr.js"></script>
    <script src="./assets/plugins/login-signup-modal-window/js/main.js"></script> <!-- Gem jQuery -->

    <!-- JS Page Level-->
    <script src="./assets/js/one.app.js"></script>
    <script src="./assets/js/forms/login.js"></script>
    <script src="./assets/js/plugins/pace-loader.js"></script>
    <script src="./assets/js/plugins/owl-carousel-rtl.js"></script>
    <script src="./assets/js/plugins/style-switcher-rtl.js"></script>
    <script src="./assets/js/plugins/revolution-slider.js"></script>
    <script src="./assets/js/plugins/cube-portfolio/cube-portfolio-lightbox.js"></script>
    <script>
        jQuery(document).ready(function() {
            App.init();
            //App.initCounter();
            App.initParallaxBg();
            //LoginForm.initLoginForm();
            //ContactForm.initContactForm();
            OwlCarousel.initOwlCarousel();
            StyleSwitcher.initStyleSwitcher();
            RevolutionSlider.initRSfullScreen();
        });
    </script>

<!-- make reveal calls last -->
<script>
    var eventsReveal = {
        delay    : 500,
        distance : '130px',
        easing   : 'ease-in-out',
        rotate   : { z: 10 },
        scale    : 1.5
    };
    // use rotation in reveal configuration
    sr.reveal('.events', eventsReveal);
</script>

    <!--[if lt IE 9]>
        <script src="./assets/plugins/respond.js"></script>
        <script src="./assets/plugins/html5shiv.js"></script>
        <script src="./assets/js/plugins/placeholder-IE-fixes.js"></script>
        <script src="./assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
    <![endif]-->

        <script src="./assets/js/mailer/contact.js"></script>

    <!--[if lt IE 10]>
        <script src="./assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
    <![endif]-->

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-91637785-1', 'auto');
    ga('send', 'pageview');

</script>

</body>

<!-- Cloned by RabinsXP.com-->
</html>